body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:14px;
}
#u1852 {
  position:absolute;
  left:8px;
  top:4px;
  width:360px;
  height:14px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:-1px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:1px;
  top:19px;
  width:373px;
  height:44px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1856 {
  position:absolute;
  left:9px;
  top:32px;
  width:18px;
  height:18px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
}
#u1858 {
  position:absolute;
  left:144px;
  top:32px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1860 {
  position:absolute;
  left:14px;
  top:109px;
  width:81px;
  height:16px;
  color:#444D54;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:332px;
  top:33px;
  width:29px;
  height:16px;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u1864 {
  position:absolute;
  left:0px;
  top:627px;
  width:375px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1865 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#444D54;
}
#u1866 {
  position:absolute;
  left:14px;
  top:77px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#444D54;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:155px;
  height:22px;
}
#u1868p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:137px;
  height:2px;
}
#u1868p000_img {
  position:absolute;
  left:-11px;
  top:-10px;
  width:158px;
  height:22px;
}
#u1868p001 {
  position:absolute;
  left:-7px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1868p001_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:42px;
  height:42px;
}
#u1868p002 {
  position:absolute;
  left:121px;
  top:-9px;
  width:20px;
  height:20px;
}
#u1868p002_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:42px;
  height:42px;
}
#u1868.compound {
  width:0px;
  height:0px;
}
#u1868 {
  position:absolute;
  left:120px;
  top:98px;
  width:135px;
  height:2px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:-7px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#9B9B9B;
  text-align:center;
}
#u1870 {
  position:absolute;
  left:147px;
  top:77px;
  width:81px;
  height:13px;
  font-size:10px;
  color:#9B9B9B;
  text-align:center;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
  text-align:right;
}
#u1872 {
  position:absolute;
  left:280px;
  top:109px;
  width:81px;
  height:16px;
  color:#444D54;
  text-align:right;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#444D54;
  text-align:right;
}
#u1874 {
  position:absolute;
  left:280px;
  top:77px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#444D54;
  text-align:right;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u1876 {
  position:absolute;
  left:13px;
  top:138px;
  width:348px;
  height:1px;
}
#u1877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1878 {
  position:absolute;
  left:39px;
  top:155px;
  width:81px;
  height:16px;
  color:#444D54;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1880 {
  position:absolute;
  left:143px;
  top:155px;
  width:67px;
  height:16px;
  color:#444D54;
}
#u1881 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u1882 {
  position:absolute;
  left:209px;
  top:155px;
  width:1px;
  height:16px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1884 {
  position:absolute;
  left:220px;
  top:155px;
  width:67px;
  height:16px;
  color:#444D54;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:1px;
  top:183px;
  width:373px;
  height:12px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u1888 {
  position:absolute;
  left:13px;
  top:155px;
  width:16px;
  height:15px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#444D54;
}
#u1890 {
  position:absolute;
  left:13px;
  top:205px;
  width:81px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#444D54;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1892 {
  position:absolute;
  left:13px;
  top:247px;
  width:65px;
  height:16px;
  color:#444D54;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1894 {
  position:absolute;
  left:13px;
  top:274px;
  width:253px;
  height:16px;
  color:#444D54;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1896 {
  position:absolute;
  left:13px;
  top:318px;
  width:65px;
  height:16px;
  color:#444D54;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1898 {
  position:absolute;
  left:13px;
  top:344px;
  width:253px;
  height:16px;
  color:#444D54;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1900 {
  position:absolute;
  left:1px;
  top:373px;
  width:373px;
  height:12px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:-2px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u1902 {
  position:absolute;
  left:13px;
  top:306px;
  width:343px;
  height:1px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#444D54;
}
#u1904 {
  position:absolute;
  left:13px;
  top:395px;
  width:81px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#444D54;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#444D54;
  text-align:right;
}
#u1906 {
  position:absolute;
  left:287px;
  top:394px;
  width:74px;
  height:19px;
  font-size:16px;
  color:#444D54;
  text-align:right;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1908 {
  position:absolute;
  left:14px;
  top:430px;
  width:151px;
  height:16px;
  color:#444D54;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1910 {
  position:absolute;
  left:13px;
  top:466px;
  width:215px;
  height:16px;
  color:#444D54;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u1912 {
  position:absolute;
  left:298px;
  top:466px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u1913 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u1914 {
  position:absolute;
  left:298px;
  top:430px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u1916 {
  position:absolute;
  left:13px;
  top:455px;
  width:348px;
  height:1px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1918 {
  position:absolute;
  left:1px;
  top:234px;
  width:373px;
  height:1px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u1920 {
  position:absolute;
  left:1px;
  top:419px;
  width:373px;
  height:1px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#9B9B9B;
  text-align:center;
}
#u1922 {
  position:absolute;
  left:147px;
  top:111px;
  width:81px;
  height:13px;
  font-size:10px;
  color:#9B9B9B;
  text-align:center;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1924 {
  position:absolute;
  left:82px;
  top:247px;
  width:132px;
  height:16px;
  color:#444D54;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1926 {
  position:absolute;
  left:82px;
  top:318px;
  width:132px;
  height:16px;
  color:#444D54;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1928 {
  position:absolute;
  left:91px;
  top:300px;
  visibility:hidden;
}
#u1928_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1928_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:2px;
  top:12px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1931 {
  position:absolute;
  left:0px;
  top:12px;
  width:193px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u1933 {
  position:absolute;
  left:13px;
  top:493px;
  width:348px;
  height:1px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#444D54;
}
#u1935 {
  position:absolute;
  left:13px;
  top:502px;
  width:215px;
  height:16px;
  color:#444D54;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u1937 {
  position:absolute;
  left:298px;
  top:502px;
  width:63px;
  height:16px;
  font-size:14px;
  color:#868686;
  text-align:right;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
