body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:88px;
}
#u0 {
  position:absolute;
  left:52px;
  top:0px;
  width:1000px;
  height:88px;
}
#u1 {
  position:absolute;
  left:2px;
  top:36px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2 {
  position:absolute;
  left:52px;
  top:137px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:22px;
}
#u4 {
  position:absolute;
  left:52px;
  top:179px;
  width:1000px;
  height:1892px;
  line-height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:2px;
}
#u6 {
  position:absolute;
  left:52px;
  top:165px;
  width:1000px;
  height:1px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-8px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u8 {
  position:absolute;
  left:475px;
  top:124px;
  width:135px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u10 {
  position:absolute;
  left:623px;
  top:124px;
  width:135px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u12 {
  position:absolute;
  left:770px;
  top:124px;
  width:135px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:34px;
}
#u14 {
  position:absolute;
  left:917px;
  top:124px;
  width:135px;
  height:34px;
  font-size:14px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u16 {
  position:absolute;
  left:52px;
  top:14px;
  width:1000px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  word-wrap:break-word;
}
